<!DOCTYPE html>
	<html>
<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><font size="7">Will Chapman</font></li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research and Publications</a></li>
		        	<li><a href="/group">Group</a></li>
		        	<li><a href="/code">Code</a></li>
	        		<li><a href="/notes">Notes</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wchapman@ucsd.edu">email</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=C1ox2CEAAAAJ&hl=en&oi=sra">google scholar</a></li>
	        		<li><a href="/CV.pdf">CV</a></li>
				</ul>
			</footer>
    			<!--{% include mathjax.html %} -->
    			{% include analytics.html %}
		</body>
	</html>
